html {
  font-size: 10px;
  background: linear-gradient(219deg, #458f7c, #af3e6c, #466a91, #a74532);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('back.svg');
  background-position: 50% 180px;
  background-size: 800px;
  background-repeat: repeat;
  min-height: 100vh;
}

.title {
  font-size: 9rem;
  margin: 0;
  margin-bottom: 5rem;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

/* ANIMATIONS */
@-webkit-keyframes AnimationName {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}
